/node_modules
/public/hot
/public/storage
/public/theme
/storage/*.key
/storage/debugbar
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.env
.editorconfig
/public/userlogo
/storage/
/TestResult
swagger.json
.gitattributes